*{

    font-size: 100%;
}

.search-header {

    font-weight: bold;
    font-size: 30px;
}

.navbar-brand {

    font-weight: bold;
    font-size: 40px;

}

.input-group {

    font-size: 15px;
    border-left: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 500px;
    }


    #dashboard {
        width: 75%;
        margin: 0 2.5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
       
    }
    
    #cardOne{
        width: 98%;
        padding: 1%;
        background-color: rgb(33, 2, 233);
        color: white;
        border-radius: 5px;
        font-size: 1.25rem;
        

    }
    
    #uvIndex{
        border-radius: 5px;
        padding: 2px 5px;
    }
    
    #fiveDayCards{
        width: 98%;
        padding: 1%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #weatherIcon {

    min-height: 100px;


    }
    
    #fiveDayCards h3{
        width: 100%;
    }
    
    #fiveDayCards .card{
        width: 16%;
        margin: 1%;
        padding: 1%;
        background-color: rgb(33, 2, 233);
        color: white;
        border-radius: 5px;
    }
    
    .lowUV{
        background-color: green;
    }
    
    .midUV{
        background-color: rgb(255, 102, 0);
    }
    
    .highUV{
        background-color: red;
    }
    